<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>didnt work perfectly before</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/materialize\css\materialize.css" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/materialize.min.css" media="screen,projection"/>


</head>
<body>

<br/>
<br/>
<div class="container" style="align-content: center">
    <div class="card-body">
        <div class="row">
            <div class="col-12 col-sm4" style="align-content: center">
                <img class="img-thumbnail"
                     src="https://d3ugyf2ht6aenh.cloudfront.net/stores/001/049/420/products/0f3e39eb-23a0-4fab-80cd-62aca3d05d76_nube-65e15bd320591f809816154133158068-1024-1024.jpg"
                     width="785" height="480">

            </div>

        </div>
    </div>
</div>
<br/>
<br/>


<nav>
    <div class="nav-wrapper">

        <ul id="nav-mobile" class="center-align icon-bar">
            <a href="https://www.instagram.com/danytricotgyn/">@danytricotgyn</a>
        </ul>
    </div>
</nav>
<br/>
<br/>
<br/>

<div class="container" style="align-content: center">
    <div class="card" style="width: 785px;">
        <img class="card-img-top" src="">
        <div class="card-body">
            <h5 class="card-title">Quem Somos </h5>
            <p class="card-text">Some quick example text to build on the card title and make up
                the bulk of the card'some quick example text to build on the card title and make up the bulk of the
                card'some quick example text to build on the card title and make up the bulk of the card'some quick
                example text to build on the card title and make up the bulk of the card'some quick example text to
                build on the card title and make up the bulk of the card'some quick example text to build on the card
                title and make up the bulk of the card'some quick example text to build on the card title and make up
                the bulk of the card'some quick example text to build on the card title and make up the bulk of the
                card's
                content.</p>
            <br/>
            <br/>
            <br/>
        </div>
    </div>
</div>
<br/>
<br/>
<br/>

<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="container" style="align-content: center">
                <div class="card" style="width: 300px;float: right">
                    <div class="card-header" style="text-align: center">Peça em Tricot | Valor: 95,00 R$</div>
                    <div class="card-body">
                        <div class="col-6">
                            <img src="https://cdn.awsli.com.br/600x700/444/444307/produto/59306106/dfb7e623b4.jpg"
                                 class="card-img-top" width="285" height="380">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="container" style="align-content: center">
                <div class="card" style="width: 300px;float: left">
                    <div class="card-header" style="text-align: center">Cropped Branco | Valor: 75,00 R$</div>
                    <div class="card-body">
                        <div>
                            <img src="https://cdn.awsli.com.br/600x700/444/444307/produto/59306106/dfb7e623b4.jpg"
                                 class="card-img-top" width="285" height="380">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="container" style="align-content: center">
                <div class="card" style="width: 300px;float: right">
                    <div class="card-header" style="text-align: center">Peça em Tricot | Valor: 95,00 R$</div>
                    <div class="card-body">
                        <div class="col-6">
                            <img src="https://cdn.awsli.com.br/600x700/444/444307/produto/59306106/dfb7e623b4.jpg"
                                 class="card-img-top" width="285" height="380">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="container" style="align-content: center">
                <div class="card" style="width: 300px;float: left">
                    <div class="card-header" style="text-align: center">Cropped Branco | Valor: 75,00 R$</div>
                    <div class="card-body">
                        <div>
                            <img src="https://cdn.awsli.com.br/600x700/444/444307/produto/59306106/dfb7e623b4.jpg"
                                 class="card-img-top" width="285" height="380">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<br/>
<br/>


<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<nav>
    <div class="nav-wrapper">

        <ul id="nav" class="center-align icon-bar">
            <a href="/home">Cadastro de Novo Cliente</a>
        </ul>
    </div>
</nav>
</body>
</html>